.parent-container {
  max-width: 100vw;
  background-color: #121212;
  padding: 10px 0;
}

.container-search {
  max-width: 1250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  /* max-height: 32px; */
  /* background-color: aliceblue; */
}

.search-items {
  display: flex;
  /* margin: 0 auto; */
  align-items: center;
  background-color: rgb(251, 251, 251);
  justify-content: space-between;
  border-radius: 10px;
}
.logo {
  display: flex;
}

.logo img {
  width: 64px;
  height: 32px;
  cursor: pointer;
}

.menu {
  display: flex;
  cursor: pointer;
}

.line {
  height: 36px;
  border: 1px solid #1a1a1a;
  margin: 0 10px;
}
.dropdown select {
  outline: none;
  border: none;
  scroll-behavior: smooth;
  padding: 5px 0 5px 5px;
  font-weight: 600;
  border-radius: 10px;
}

.search {
  /* background-color: white; */
  display: flex;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
}

.search input {
  width: 600px;
  border: 0;
  height: 36px;
}

input:focus {
  outline: none;
}

.pro img {
  width: 70px;
  cursor: pointer;
  /* height: 10px; */
}

.menu {
  color: #fff;
}

.menu p {
  margin-left: 5px;
}
